{% extends "LAYOUT2.html" %}
{% block body %}

<div class="modalhead"> Top Headlines and Latest Updates </div>

<section>

</section>

<script>

  const section = document.querySelector('section');
  var mycelebs = shuffle("{{mycelebs}}".split(","));

  function shuffle(a) {
    for (let i = a.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [a[i], a[j]] = [a[j], a[i]];
    }
    return a;
  }

  var requestURLs = [];
  for (let i = 0; i < mycelebs.length; i++){
    requestURLs.push("https://newsapi.org/v2/everything?language=en&qInTitle=" + '"' + mycelebs[i] + '"' + "&pageSize=3&apiKey=c1e02f8b32c3415891568b238ca39984");
  }

  for (let url_index = 0; url_index < requestURLs.length; url_index++) {
    let request = new XMLHttpRequest();
    request.open('GET', requestURLs[url_index]);
    request.responseType = 'json';
    request.send();

    request.onload = function () {
      const apHeadlines = request.response;
      showAp(apHeadlines);
    }

    function showAp(jsonObj) {
      const headlines = jsonObj['articles'];

      for (let i = 0; i < headlines.length; i++) {
        const myArticle = document.createElement('article');
        const myH2 = document.createElement('h2');
        const myPara1 = document.createElement('p');
        const myPara2 = document.createElement('p');
        const myPara3 = document.createElement('p');

        myH2.textContent = headlines[i].title;
        myPara1.textContent = headlines[i].source['name'];
        myPara2.textContent = headlines[i].publishedAt;
        myPara3.textContent = headlines[i].description;

        myArticle.appendChild(myH2);
        myArticle.appendChild(myPara1);
        myArticle.appendChild(myPara2);
        myArticle.appendChild(myPara3);

        section.appendChild(myArticle);
      }
    }
  }

</script>

{% endblock %}