{% extends "LAYOUT2.html" %}
{% block body %}

<section>

</section>

<script>

  const section = document.querySelector('section');
  let requestURL = 'https://newsapi.org/v2/everything?language=en&q="sacha baron cohen"&apiKey=c1e02f8b32c3415891568b238ca39984';
  let request = new XMLHttpRequest();
  request.open('GET', requestURL);
  request.responseType = 'json';
  request.send();

  request.onload = function () {
    const apHeadlines = request.response;
    showAp(apHeadlines);
  }

  function showAp(jsonObj) {
    const headlines = jsonObj['articles'];

    for (let i = 0; i < headlines.length; i++) {
      const myArticle = document.createElement('article');
      const myH2 = document.createElement('h2');
      const myPara1 = document.createElement('p');
      const myPara2 = document.createElement('p');
      const myPara3 = document.createElement('p');

      myH2.textContent = headlines[i].title;
      myPara1.textContent = headlines[i].source['name'];
      myPara2.textContent = Date(headlines[i].publishedAt);
      myPara3.textContent = headlines[i].description;

      myArticle.appendChild(myH2);
      myArticle.appendChild(myPara1);
      myArticle.appendChild(myPara2);
      myArticle.appendChild(myPara3);

      section.appendChild(myArticle);
    }
  }

</script>

{% endblock %}