{% extends "LAYOUT2.html" %}
{% block body %}

<div class="modalhead"> Followed Celebrities </div>

<form action="/following" method="post" style="float:center" class="loginmodal" autocomplete="off">
  <div style="text-align: center;">
    <input type="text" placeholder="Follow a celebrity!" name="celebname" required>
    <button class="cancel">Unfollow</button>
    <button class="quote">Follow</button>
  </div>
</form>

<h4 style="margin-bottom: -10px">You are currently following: </h4> 
<h4 style="font-style: italic; font-weight: normal;">{{mycelebs}}</h4>

{% endblock %}